<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <title>Document</title>
</head>
  <body>
        <div class="container">
            <div class="restaurant-details">
                <h1 class="restaurant-name">Nama Restoran</h1>
                <img class="restaurant-image" src="gambar-restoran.jpg" alt="Gambar Restoran">
                <div class="restaurant-info">
                    <p><strong>Alamat:</strong> Jalan Restoran No. 123</p>
                    <p><strong>Kota:</strong> Kota Restoran</p>
                    <p><strong>Deskripsi:</strong> Deskripsi tentang restoran ini.</p>
                </div>
                <div class="menus">
                    <div class="food-menu">
                        <h2>Menu Makanan</h2>
                        <ul>
                            <li>Makanan 1</li>
                            <li>Makanan 2</li>
                            <li>Makanan 3</li>
                        </ul>
                    </div>
                    <div class="drink-menu">
                        <h2>Menu Minuman</h2>
                        <ul>
                            <li>Minuman 1</li>
                            <li>Minuman 2</li>
                            <li>Minuman 3</li>
                        </ul>
                    </div>
                </div>
                <div class="customer-reviews">
                    <h2>Customer Reviews</h2>
                    <div class="review">
                        <p>"Review positif dari pelanggan 1."</p>
                    </div>
                    <div class="review">
                        <p>"Review negatif dari pelanggan 2."</p>
                    </div>
                </div>
            </div>
        </div>
  </body>
</html>
