<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="manifest" href="./app.webmanifest" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./favicon.png" />
    <title>Angga's food</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>

    <header>
      <nav class="app-bar">
        <div class="nav-header">
          <div class="brand-logo">Angga's Food</div>
          <button id="hamburger" href="#" aria-label="Toggle Navigation Drawer">
            <svg
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 17 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 1h15M1 7h15M1 13h15"
              />
            </svg>
          </button>
        </div>
        <ul class="nav-menu">
          <li><a href="#/utama">Home</a></li>
          <li><a href="#/favorit">Favorite</a></li>
          <li>
            <a
              href="https://www.linkedin.com/in/angga-cahyo-krisnanto/"
              target="_blank"
              >About Us</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <main tabindex="-1" id="maincontent"></main>

    <footer>
      <p>Copyright © 2024 - Angga's Food</p>
    </footer>
  </body>
</html>
